{% include 'header.html' %}

<div class="jumbotron d-flex align-items-center" style="background-image: url(/static/img/tr4.jpg);">
  <div class="container text-center">
   <!--  <h1 class="display-1 mb-4">RO<br>XY</h1> -->
  <center>
          <form method="post">
          {% csrf_token %}
              <h2>Login</h2>
              <table class="table" style="width: 500px">
              <tr>
              <th>Username</th>
              <td><input type="text" name="uname" class="form-control" ></td>
              </tr>
              <tr>
              <th>Password</th>
              <td><input type="password" name="pwd" class="form-control" ></td>
              </tr>
              
              <tr>
              <td colspan="2" align="center"><input type="submit" name="reg" value="Login" class="btn btn-primary"></td>
              </tr>

              </table>
      </form>
                   
    </center>
  </div>
<!--   <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div> -->
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="triangle triangle-1">
  	<img src="/static/img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-2">
  	<img src="/static/img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-3">
  	<img src="/static/img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-4">
  	<img src="/static/img/obj_triangle.png" alt="">
  </div>
</div>	

 
		   						
		   			


			

{% include 'footer.html' %}